.a {
	
	border:1px solid black;
    margin-top: 400px;
    margin-bottom: 400px;
    margin-right: 550px;
    margin-left: 300px;
}
.div {
    border: 1px solid black;
    margin-top: 400px;
    margin-left: 300px;
    background-color: lightblue;
}

